<p id="notice"><%= notice %></p>
<h1>Imagens</h1>
<table>
  <thead>
    <tr>
      <th>Nome do Arquivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.description %></td>
        <td><%= link_to 'Exibir', image %></td>
        <td><%= link_to 'Excluir', image, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Nova Imagem', new_image_path %>
