<p id="notice"><%= notice %></p>
<p>
  <strong>Nome do Arquivo:</strong>
  <%= @image.description %>
</p>
<p>
  <%= image_tag data_image_path(@image), size: '200x200' %>
  ->
  <%= image_tag data_analyzed_image_path(@image), size: '200x200' %>
</p>
<%= link_to 'Voltar', images_path %>
